html, body {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-family: "Montserrat" Arial, sans-serif;
  height: 100%; }

@font-face {
  font-family: "Montserrat";
  src: url("../font/Montserrat-Regular-webfont.eot");
  src: url("../font/Montserrat-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/Montserrat-Regular-webfont.woff2") format("woff2"), url("../font/Montserrat-Regular-webfont.woff") format("woff"), url("../font/Montserrat-Regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Cardo";
  src: url("../font/Cardo-Regular-webfont.eot");
  src: url("../font/Cardo-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/Cardo-Regular-webfont.woff2") format("woff2"), url("../font/Cardo-Regular-webfont.woff") format("woff"), url("../font/Cardo-Regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
h1 {
  font-size: 3.4rem;
  line-height: 3.6rem; }

h2 {
  font-size: 2.1rem;
  line-height: 2.3rem; }

h3 {
  font-size: 1.7rem;
  line-height: 1.9rem; }

h4 {
  font-size: 1.4rem;
  line-height: 1.6rem; }

h5 {
  font-size: 1.2rem;
  line-height: 1.4rem; }

h1, h2, h3, h4, h5 {
  text-transform: uppercase; }

::selection {
  color: #00ffff;
  background: #1e023f;
  text-shadow: none; }

::selection {
  background: #b3d4fc; }

::-webkit-scrollbar {
  background: #f4f4f4;
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-thumb {
  background: #00ffff;
  width: 10px; }

/*! HTML5 Boilerplate v5.0.0 | MIT License | https://html5boilerplate.com/
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 * ==========================================================================
 * Base styles: opinionated defaults
 * ==========================================================================
 *
 * A better looking default horizontal rule */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*  Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440 */
audio, canvas, iframe, img, svg, video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

.hidden {
  display: none !important; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.invisible {
  visibility: hidden; }

/* Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements. */
.clearfix:before {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
  clear: both; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0; }

html {
  height: 100%;
  overflow-x: hidden; }

body {
  height: 100%;
  overflow-x: hidden;
  background: #fff; }

svg {
  display: block;
  overflow: visible; }

.slider-container {
  position: relative;
  height: 100%;
  user-select: none;
  cursor: all-scroll; }

.slider-control {
  z-index: 999;
  position: absolute;
  bottom: 2%;
  width: 100px;
  height: 100px;
  transition: opacity 0.3s;
  will-change: opacity;
  opacity: 0.5; }
  .slider-control.inactive:hover {
    cursor: auto; }
  .slider-control:not(.inactive):hover {
    opacity: 1;
    cursor: pointer; }
  .slider-control.left {
    left: 1%; }
  .slider-control.right {
    right: 1%; }
  .slider-control img {
    width: 100px; }

.logo {
  position: absolute;
  left: 8%;
  top: 10%;
  z-index: 2;
  max-width: 200px;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
  will-change: transform, opacity;
  transform: translate3d(-20%, 0, 0);
  opacity: 0; }

.slider {
  z-index: 1;
  position: relative;
  height: 100%; }
  .slider.animating {
    transition: transform 0.5s;
    will-change: transform; }
    .slider.animating .slide__bg {
      transition: transform 0.5s;
      will-change: transform; }

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .slide.active .slide__overlay, .slide.active .slide__text, .slide.active .logo {
    opacity: 1;
    transform: translateX(0); }

.slide__bg {
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  will-change: transform;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.slide:nth-child(1) {
  left: 0; }
  .slide:nth-child(1) .slide__bg {
    left: 0;
    background-image: url("../img/slides/1_slide_1920x1200.jpg"); }
    @media (max-width: 980px) {
      .slide:nth-child(1) .slide__bg {
        background-image: url("../img/slides/1_slide_1280x800.jpg"); } }
    @media (max-width: 480px) {
      .slide:nth-child(1) .slide__bg {
        background-image: url("../img/slides/1_slide_480x800.jpg"); } }
  .slide:nth-child(1) .slide__overlay-path {
    fill: rgba(247, 51, 155, 0.9); }
.slide:nth-child(2) {
  left: 100%; }
  .slide:nth-child(2) .slide__bg {
    left: -50%;
    background-image: url("../img/slides/2_slide_1920x1200.jpg"); }
    @media (max-width: 980px) {
      .slide:nth-child(2) .slide__bg {
        background-image: url("../img/slides/2_slide_1280x800.jpg"); } }
    @media (max-width: 480px) {
      .slide:nth-child(2) .slide__bg {
        background-image: url("../img/slides/2_slide_480x800.jpg"); } }
  .slide:nth-child(2) .slide__overlay-path {
    fill: rgba(60, 60, 62, 0.9); }
.slide:nth-child(3) {
  left: 200%; }
  .slide:nth-child(3) .slide__bg {
    left: -100%;
    background-image: url("../img/slides/3_slide_1920x1200.jpg"); }
    @media (max-width: 980px) {
      .slide:nth-child(3) .slide__bg {
        background-image: url("../img/slides/3_slide_1280x800.jpg"); } }
    @media (max-width: 480px) {
      .slide:nth-child(3) .slide__bg {
        background-image: url("../img/slides/3_slide_480x800.jpg"); } }
  .slide:nth-child(3) .slide__overlay-path {
    fill: rgba(49, 8, 40, 0.9); }
.slide:nth-child(4) {
  left: 300%; }
  .slide:nth-child(4) .slide__bg {
    left: -150%;
    background-image: url("../img/slides/4_slide_1920x1200.jpg"); }
    @media (max-width: 980px) {
      .slide:nth-child(4) .slide__bg {
        background-image: url("../img/slides/4_slide_1280x800.jpg"); } }
    @media (max-width: 480px) {
      .slide:nth-child(4) .slide__bg {
        background-image: url("../img/slides/4_slide_480x800.jpg"); } }
  .slide:nth-child(4) .slide__overlay-path {
    fill: rgba(45, 56, 122, 0.9); }

@media (max-width: 980px) {
  .slide:nth-child(1) .slide__text {
    background-color: rgba(247, 51, 155, 0.9); } }
@media (max-width: 980px) {
  .slide:nth-child(2) .slide__text {
    background-color: rgba(60, 60, 62, 0.9); } }
@media (max-width: 980px) {
  .slide:nth-child(3) .slide__text {
    background-color: rgba(49, 8, 40, 0.9); } }
@media (max-width: 980px) {
  .slide:nth-child(4) .slide__text {
    background-color: rgba(45, 56, 122, 0.9); } }
.slide__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.slide__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  min-height: 810px;
  transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
  will-change: transform, opacity;
  transform: translate3d(-20%, 0, 0);
  opacity: 0; }
  .slide__overlay path {
    opacity: 0.8; }

@media (max-width: 980px) {
  .slide__overlay {
    display: none; } }
.slide__text {
  position: absolute;
  width: 25%;
  bottom: 15%;
  left: 9%;
  color: #fff;
  transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
  will-change: transform, opacity;
  transform: translateY(-50%);
  opacity: 0; }

@media (max-width: 980px) {
  .slide__text {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    transform: translateY(50%);
    transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
    padding: 0 1rem; } }
.slide__text-heading {
  font-family: "Montserrat" Arial, sans-serif;
  margin-bottom: 1.2rem; }

@media (max-width: 980px) {
  .slide__text-heading {
    font-size: 3.5rem; } }
.slide__text-desc {
  margin-bottom: 1.5rem;
  font-family: "Cardo" Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem; }

@media (max-width: 980px) {
  .slide__text-desc {
    display: none; } }
.slide__text-link {
  z-index: 5;
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-family: "Montserrat" Arial, sans-serif;
  font-size: 1.3rem;
  position: relative;
  padding-left: 40px; }
  .slide__text-link:before {
    content: "";
    position: absolute;
    bottom: 8px;
    left: 0;
    display: block;
    height: 1px;
    width: 30px;
    background-color: #fff; }

@media (max-width: 980px) {
  .slide__text-link {
    padding: 20px 0;
    border-top: 1px solid #fff; }
    .slide__text-link:before {
      display: none; } }
#offer {
  background-color: #1e023f;
  color: #fff;
  width: 100%;
  overflow: hidden;
  padding: 2% 0; }
  #offer .box_offer {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
    padding: 0;
    margin: 0; }
    @media (max-width: 768px) {
      #offer .box_offer {
        width: 50%; } }
    @media (max-width: 480px) {
      #offer .box_offer {
        width: 100%; } }
    #offer .box_offer .icon img {
      max-width: 180px; }
    #offer .box_offer h2 {
      margin-bottom: 20px; }
    #offer .box_offer ul li {
      line-height: 1.8rem;
      list-style: none; }
    #offer .box_offer .line {
      width: 60px;
      height: 1px;
      background-color: #00ffff;
      margin: 30px auto; }

.portfolio {
  overflow: hidden;
  clear: both; }
  .portfolio .box {
    width: 25%;
    float: left;
    display: block; }
    @media (max-width: 768px) {
      .portfolio .box {
        width: 50%; } }
    @media (max-width: 480px) {
      .portfolio .box {
        width: 100%; } }
    .portfolio .box img {
      width: 100%; }
  .portfolio .project_content {
    position: fixed;
    z-index: 5;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: #fff;
    color: #1e023f; }
    .portfolio .project_content .close {
      position: fixed;
      right: 50px;
      top: 40px;
      width: 100px;
      cursor: pointer; }
    .portfolio .project_content .content {
      padding: 40px 20px;
      max-width: 980px;
      margin: 0 auto; }
      .portfolio .project_content .content .project_description {
        max-width: 75%;
        padding: 20px 40px;
        font-family: "Cardo" Arial, sans-serif;
        font-size: 1.2rem;
        line-height: 1.6rem;
        position: relative; }
        .portfolio .project_content .content .project_description:before {
          content: "";
          position: absolute;
          top: 28px;
          left: 0;
          display: block;
          height: 1px;
          width: 30px;
          background-color: #1e023f; }

.contact {
  background-color: #1e023f;
  color: #00ffff;
  text-align: center;
  padding: 40px 0; }
  .contact img {
    padding: 40px 0; }
  .contact h2, .contact h5, .contact a {
    color: #00ffff; }
  .contact a {
    text-transform: none;
    text-decoration: none; }
  .contact h5 {
    padding: 10px 0; }
  .contact h2 {
    padding-bottom: 30px; }
  .contact .logo_contact {
    fill: #00ffff; }
  .contact .social a {
    padding: 0 10px; }
  .contact .social img {
    width: 30px; }

.about {
  clear: both;
  background: #00ffff;
  float: left;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch; }
  .about .box {
    width: 25%;
    float: left;
    color: #1e023f;
    overflow: hidden; }
    @media (max-width: 980px) and (min-width: 480px) {
      .about .box {
        width: 50%; }
        .about .box:nth-child(3) {
          order: 2; }
        .about .box:nth-child(4) {
          order: 1; } }
    @media (max-width: 480px) {
      .about .box {
        width: 100%;
        height: 250px; } }
  .about .about_person {
    padding: 3%; }
    @media (max-width: 480px) {
      .about .about_person {
        padding: 6%; } }
  .about .person_description {
    font-family: "Cardo" Arial, sans-serif;
    line-height: 1.6rem;
    padding: 20px;
    position: relative; }
  .about .ewelina, .about .piotrek {
    background-position: center center;
    background-repeat: no-repeat; }
  .about .ewelina {
    background-image: url(../img/ewelina.jpg); }
  .about .piotrek {
    background-image: url(../img/piotrek.jpg); }

/*# sourceMappingURL=app.css.map */
