.contact
  background-color: $dark_blue
  color: $light_blue
  text-align: center
  padding: 40px 0
  img 
    padding: 40px 0
  h2, h5, a 
    color: $light_blue
  a 
    text-transform: none
    text-decoration: none
  h5
    padding: 10px 0
  h2 
    padding-bottom: 30px
  .logo_contact 
    fill: #00ffff
  .social
    a 
      padding: 0 10px 
    img
      width: 30px
