.portfolio
  overflow: hidden
  .box_portfolio
    width: 25%
    float: left
    display: block
    @media (max-width: 768px)
      width: 50%
    @media (max-width: 480px)
      width: 100%  
    img
      width: 100%